---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  // 1. Prendi TUTTI i tuoi post dalla collection
  const notes = await getCollection('notes', ({ data }) => data.ispublic);
  
  // 2. Per OGNI post, crea un percorso
  return notes.map(entry => ({
    params: { slug: entry.id },  // URL: /notes/note1
    props: { entry }             // Passa i dati alla pagina
  }));
}

// Astro.props contiene i dati da getStaticPaths()
const { entry } = Astro.props;

// Renderizza il Markdown in un componente Astro
const { Content } = await render(entry);
---
<Layout>
<div class="flex justify-cente">
<article class="prose max-w-2xl mx-auto">
    <h1>{entry.data.title}</h1>
    <time>{entry.data.date.toLocaleDateString()}</time>
    <Content/>
</article>
</div>
</Layout>