@import "tailwindcss";
@plugin '@tailwindcss/typography';

/*
 base     → stili di base (es. font globale, reset)
components → componenti riutilizzabili (.btn, .card)
utilities → classi singole (text-sm, p-4, bg-red-500) 
*/

@custom-variant dark (&:where(.dark, .dark *));

/*********** LAYERS ***********/
@layer base {
  html {
    @apply font-mono;
    
  }

  p{
    @apply my-1
  }

  h1{
    @apply my-4 text-3xl
  }
}

@layer components {
    .btn_navbar { @apply items-center text-sm sm:text-base  hover:underline underline-offset-2 transition-transform hover:-translate-y-1 inline-block }

}


/*********** THEMES - WIP DARK***********/
/* TODO: study themes */
@theme {
  /* ... */
  --color-background: #FAFAFA;

}

.dark{
  --color-background: #0e0a0a;

}
