---
import Layout from '../layouts/Layout.astro';
import FitnessCardS from '../components/fitness_card.astro';
import {aboutMeData} from '../content/static_pages/abouteMe'



console.log(aboutMeData)
---

<Layout>
	<h1>Aboute me</h1>
	<p>
		Since I truly believe content is king, I tend to value what's written over who wrote it. Still, if you'd like to know a bit about me, you're in the right place!
	</p>
	<p>
		I'm a Computer Science Engineer focused on extracting value from data. I'm prone to forgetting things, so I write things down. This web space functions as my public diary, 
		a personal archive of everything I explore in my life.
	</p>
	
	<h1>What I’m Doing Now</h1>

	<ul class="list-disc pl-5 marker:text-gray-600">
		<li class="pb-2">
			Since 2024, I’ve been working with a large European company that supports me financially while I contribute as a <b>Data Scientist</b>.
			My role mainly involves applying data-driven approaches to optimize industrial processes, with a strong focus on the manufacturing sector. 
			This includes analyzing production data, identifying inefficiencies, and helping design solutions that improve performance, reduce waste, and increase overall productivity.
		</li>
		<li>
			In addition to my main job, I enjoy exploring new ideas through <b>personal side projects</b>. 
			These projects allow me to experiment with technologies I’m passionate about and continue learning outside of work.
			Currently, I’m dedicating my free time to building <i>{aboutMeData.current_side_project}</i>.
		</li>
	</ul>

	<h1>Publications</h1>
		<p>
			During my academic journey, I also had the chance to work on projects that led to publications in conferences and peer-reviewed journals. I contributed to a few papers, 
			mainly exploring how machine learning can be applied to optimize manufacturing processes.
		</p>
		<ul class="list-disc pl-5 marker:text-gray-600">
		<li class="pb-2">
			<a href="https://ieeexplore.ieee.org/document/10650627" target="_blank" rel="noopener noreferrer" class="underline">
				The Power of Hybrid Learning in Industrial Robotics: Efficient Grasping Strategies with Supervised-Driven Reinforcement Learning 
			</a>
		</li>
		<li>
			<a href="https://arxiv.org/abs/2507.00257" target="_blank" rel="noopener noreferrer" class="underline">
			Gym4ReaL: A Suite for Benchmarking Real-World Reinforcement Learning
			</a>
		</li>
	</ul>

	<h1>Muscle Memories</h1>
	<p>
		Throughout my life, I’ve dedicated a lot of time to practicing sports. Like most children, I started with <b>football</b>, and I still enjoy playing casual matches with friends. 
		Later, I switched to rowing for a few years. However, the early morning training sessions were too much for me. Still, my love for water sports remained, so I moved on to <b>swimming</b>. 
		I’d say I was quite good at it and I even had the chance to compete.
	</p>
	<p>
		When I moved to my current city, a new sports chapter began. These days, I focus on <b>going to the gym</b>, practicing calisthenics in open-air parks, <b>running</b>, and <b>bouldering</b>. 
		Here are some key record metrics from my training:
	</p>
	<div class="flex flex-col sm:flex-row items-center justify-evenly gap-4 p-2">
		<FitnessCardS 
			title="🏃 Running" 
			titleClass ="text-red-600"
			items={aboutMeData.fitness.running} 
		/>

		<FitnessCardS 
			title="🏋️ Lifting"
			titleClass ="text-blue-600"
			items={aboutMeData.fitness.lifting} 
		/>
	</div>

	<!-- TODO: libreria -->

	<h2 class="text-2xl py-3 ">Miscellaneous</h2>
	<p>
		This is the drawer where I keep everything that doesn’t fit neatly elsewhere. On <i>“a day that doesn’t rain much,”</i> I’ll fill this part with interesting information.
	</p>


</Layout>
