---
import Layout from '../layouts/Layout.astro';


import { getCollection } from 'astro:content';

const notesCollection = await getCollection('notes', ({ data }) => data.ispublic);
notesCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

console.log(notesCollection)

---

<Layout >
	
	<h1 class="text-5xl">This is a test page</h1>
	<h1 class="text-5xl">This is a test page</h1>

    <ul>
        {   
            notesCollection.map((i)=> (
        <li>
            <a href={"/notes/"+i.data.title}>{i.data.title} </a>
        </li>
        
        ))
        }
    </ul>
</Layout>
