---
import Layout from '../layouts/Layout.astro';
import UpdateTicker from '../components/update_ticker.astro';


import { getCollection } from 'astro:content';

const notesCollection = await getCollection('notes', ({ data }) => data.ispublic);
notesCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

console.log(notesCollection)

---

<Layout >
	
<p> 
    I’m a Computer  Science Engineer passionate about coding. I like computers, problems, and using the former to solve the latter. 
    This is my corner of the internet where I share what I learn, think, and sometimes do.
</p>

<p class="mt-2">Last Updates: </p>
<UpdateTicker/>



<h1>My Notes</h1>
    <ul>
        {   
            notesCollection.map((i)=> (
        <li>
            <a href={"/notes/"+i.data.title}>{i.data.title} </a>
        </li>
        
        ))
        }
    </ul>


</Layout>
