---
import Layout from '../layouts/Layout.astro';
import UpdateTicker from '../components/update_ticker.astro';
import NoteCard  from '../components/article_card.astro'

import { getCollection } from 'astro:content';

const notesCollection = await getCollection('notes', ({ data }) => data.ispublic);
notesCollection.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())

---

<Layout >
    <h1>Welcome 👋</h1>
    <p> 
        I'm a Computer Science Engineer passionate about coding. I like computers, problems, and using the former to solve the latter. 
        This is my corner of the internet where I share what I learn, think, and sometimes do.
    </p>

    <div class="mt-6 mb-6">
        <h2 class="text-xl font-semibold mb-2">Recent Activity</h2>
        <UpdateTicker/>
    </div>

    <h1>My Notes</h1>
    <p> 
        Brain dumps worth the effort for me to write, and hopefully for you to read.
    </p>

    <div class="grid gap-4 pt-3">
        
        {notesCollection.map((note) => (
            <NoteCard post={note} />
        ))}
    </div>

</Layout>
