---
import Layout from '../layouts/Layout.astro';
import TimelineCard from '../components/timeline_card.astro';
import { timelineData } from '../content/static_pages/timelineEntry';
import { Icon } from 'astro-icon/components';

---

<Layout>
        
        <!-- Header -->
        <div class="mb-6">
            <h1>Life Commit History 📬</h1>
            <p class="mb-1"> 
                Key moments and achievements worth committing to memory.
            </p>
            <div class="text-gray-500 text-sm">
                $ git log --graph --decorate --oneline 
            </div>
        </div>

        <div class="relative ml-2 md:ml-4 sm:px-12">
            <!-- Linea Verticale -->
            <div class="absolute top-3 bottom-0 left-3.5 sm:left-15.75 w-px bg-gray-200 "></div>

            <div class="space-y-6">
                {timelineData.map((group) => (
                    <div class="relative">
                        
                        {/*  Year Header  */}
                        <div class="flex items-center gap-3 mb-2">
                            <div class="w-8 h-8 flex items-center justify-center">
                                <Icon name="git-commit-thin-svgrepo-com" class="w-6 h-6"></Icon>
                            </div>
                            <span class="text-xs font-mono font-bold text-gray-600 bg-gray-100 px-2 py-0.5 rounded border border-gray-200">
                                Year {group.year}
                            </span>
                        </div>

                        {/*Milestones Container */}
                        <div class="ml-8 space-y-0 flex flex-col items-start">
                            {group.milestones.map((milestone, idx) => (
                                <TimelineCard 
                                    milestone={milestone} 
                                />
                            ))}
                        </div>
                    </div>
                ))}
            </div>
            
        </div>

</Layout>
