---
interface Props {
  title: string;
  titleClass?: string;
  items: { name: string; value: string }[]; 
}

const { title, titleClass="",items} = Astro.props;
---

<div class="">
    <h3 class=`text-xl font-semibold pb-1 ${titleClass}`> {title} </h3>
    <ul class="list-disc pl-8 marker ">
            {items.map(exercise => (
            <li> 
                <div class="flex sm:justify-between sm:gap-5">
                    <span class="font-bold pr-3">{exercise.name}:</span>
                    <span class="font-thin ">{exercise.value}</span>
                </div>
            </li>
        ))}
    </ul>
</div>

