---
import { Icon } from 'astro-icon/components'
---


<footer class="mt-auto border-t border-gray-200 p-1 sm:px-3 text-sm">
    <!-- items-center aggiunto qui sotto per allineare verticalmente i due blocchi principali -->
    <div class="flex flex-col sm:flex-row justify-between items-center">
        <p>Made with 🧠 by me</p>

        <div class="flex gap-2 items-center">
            <p>All Technical info is available on </p>
            <a href="https://github.com/TuoNomeUtente" target="_blank" rel="noopener noreferrer"
               class="transition-transform duration-300 hover:scale-125 flex items-center">
                <Icon name="simple-icons--refinedgithub" class="w-5 h-5" />
            </a>
        </div>
    </div>
</footer>
