---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets';

import  LogoImg  from '../assets/logo1.png'

---
<header class="h-13 sm:h-15 p-1 content-center  shrink-0 border-b border-gray-200">
    <nav class="flex px-3 justify-between items-center">
        <div> <a href="/"><Image  src={LogoImg}  alt="navbar logo" class="w-19 sm:w-22"/> </a>
        </div>
        <div class = "">
            <ul class="flex gap-4 sm:gap-7">
                <li> <a href="/timeline/" class="btn_navbar">  Timeline/ </a></li>
                <li> <a href="/projects/" class="btn_navbar"> Projects/ </a></li>
                <li><a href="/about/" class="btn_navbar"> AboutMe/ </a></li>
            </ul>
        </div>
    </nav>
</header>