---
import { Icon } from 'astro-icon/components'

---
<header class="h-15 content-center bg-amber-700">
    <nav class="flex px-3 justify-between bg-amber-600 items-center ">
        <div>
            <h1 class="text-xl px-2 bg-amber-200">LOGO</h1>
        </div>
        <div class = "bg-amber-800">
            <ul class="flex gap-x-10 ">
                    <a href="/projects" class="flex items-center gap-2 p-2 rounded hover:text-amber-200 transition-colors">
                        <Icon name="line-md:github" class="w-5 h-5" /> Projects </a>
                <li><a href="/about"> About</a></li>
            </ul>
        </div>
    </nav>
</header>